/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
p{
    line-height: 20px;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    word-wrap: break-word;
    color: #576370;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
header .header-top{
    background: url('../images/header_bg.jpg') repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.main-content img{
	max-width:100%;
}
.easyii-box{
	margin-bottom: 5px;
    display: inline-block;
}
.social{
    background-image: url('../images/headerMob_bg.png');
    height: 51px;
}
.social__networks{
    float: left;
    margin-left: 60px;
    margin-top: 10px;
}
.social__number{
    float: right;
}
.social__number a{
    color: #fff;
    font: bold 12px/50px Verdana,Arial,Helvetica,sans-serif;
    padding: 0 26px 0 0;
    text-align: right;
    text-decoration: none;
}
.social__number img{
    float: left;
    margin-right: 16px;
    margin-top: 4px;
}
.social__number a span {
    font: bold 20px/50px Verdana, Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
.navbar-default {
    background-color: white !important;
    border-color: white !important;
}
.navbar-brand{
    height: 110px;
}
.navbar{
    margin-bottom: 0 !important;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;


}
.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 35px;
    line-height: 35px;
    display: block;
    zoom: 1;
    font-size: 18px;
    float: left;
}
.menu li a {
    color: #000;
    display: block;
    font: bold 13px/15px Tahoma,Arial,Helvetica,sans-serif;
    padding: 6px 12px;
    text-align: center;
    margin-right: 10px;
}
.menu li:hover a, .menu li.active a{
    background: #93af15;
    border-radius: 3px;
    color: #fff !important;
}
.menu li a {
    text-decoration: none;
    background: #eee;
    border-radius: 3px;
}
.header-down .navbar .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .social__networks{
        display: none;
    }
    .navbar-header{
        width: 100%;
    }
    .navbar-default .navbar-toggle {
        margin-top: 37px;
    }
    .header-down .navbar .container {
        display: block;
    }
    .menu li {
        width: 100%;
        display: block;
    }
    .company__title{
        margin-top: 30px;
    }
}


.section-banner{
    background: url('../images/banner_bg.jpg') repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 1px 100%;
}

.section-banner .carousel-control {
    background-image:none !important;
    display: flex;
    align-items: center;
    font-size: 70px;
    width: 10%;
}
.section-banner .carousel-control.right{
    justify-content: flex-end;
}
.carousel-inner .item a{
    position: relative;
}
.carousel-inner .item a:after{
    content: 'Подробнее';
    position: absolute;
    bottom: 20px;
    left: 150px;
    padding: 10px 30px !important;
    background-color: green;
    display: block;
    z-index: 100;
    color: white;
    cursor: pointer;
}
.carousel-caption {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 400px;
    text-align: left;
    line-height: 22px;
}
.carousel-caption h3{
    font-size: 30px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .carousel-caption > p{
        display: none;
    }
    .carousel-caption{
    	top:0;
    }
    .carousel-caption h3{
    	font-size: 15px;
    }
}

.price{
    background: url("../images/growth_bg.jpg") center no-repeat;
    height: 145px;
    padding-left: 70px;
}
.price__title{
    color: #576370;
    font: bold 24px Trajan Pro,Arial,Helvetica,sans-serif;
    padding: 45px 0 0 15px;
    text-transform: uppercase;

}
.price__content{
    color: #979b9f;
    font: 16px Arial,Helvetica,sans-serif;
    padding: 0 0 0 15px;
    text-transform: none;
}
.company__title{
    color: #7f9d07;
    font: bold 18px verdana,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.company__content{
    line-height: 18px;
    font-size: 12px;
}
.company__content p{
    padding-top: 20px
}
.company__phrase h1{
    color: #000;
    font: bold 21px Trajan Pro,Arial,Helvetica,sans-serif;
    padding: 35px 0 25px;
    text-transform: uppercase;
}
b{
    font-weight: bold ;
}
#vk_groups{
    margin: 0 !important;
}


.benefit {
    width: 28%;
    height: 300px;
    margin-bottom: 30px;
    margin-right: 86px;
    float: left;
    background-size: 100% 100%;
    min-width: 300px;
}
.advantages .row > *:last-of-type {
    margin-right: 0px;
}
.bentitle {
    margin-top: 22px;
    margin-left: -3px;
    margin-bottom: 12px;
    font-size: 21px;
    color: white;
    text-align: center;
}
.bentitle2 {
    margin-left: 25px;
    font-size: 15px;
    text-align: left;
    width: 227px;
}
@media screen and (max-width: 768px) {
    .benefit {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
        margin-right: 0px;
        float: none;
    }
    .company__title{
    	margin-top:30px !important;
    }
    .bentitle{
    	padding-top:10px;
    }
}
.info__item__title{
    text-decoration: none;
    color: #CA2C7B;
    font-size: 16px;
}
.info__item__content{
    text-align: justify;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height:16px;
    font-size: 12px;
}



/**
Отзывы
 */
.review-item {
    background: #fff;
    margin: 5px 5px;
    padding: 20px 35px 0 35px;
    color: #5b5b5b;
    max-width: 500px;
}
.review-item__preview {
    background: url(../images/bg-scope.png) no-repeat top right;
}
.review-item__author {
    font-size: 19px;
    color: #4a4a4a;
    text-transform: uppercase;
    margin: 0 30px 0 0;
}
.review-item__date {
    margin: 0;
}
.review-item__date, .review-item__site {
    font-size: 13px;
    color: #828383;
}
.review-item__main {
    background: url(../images/bg-line.png) repeat-x left top;
    margin: 22px 0 0;
    padding: 18px 0 0;
}
.i-wai {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
}
.review-item__desc {
    font-size: 13px;
    color: #828383;
}

.review-item__desc>p {
    margin-bottom: 0;
    margin: 0 0 10px;
}
.review-item__btn-detail {
    display: inline-block;
    margin-top: 20px;
    color: #5d94cd;
    text-decoration: underline;
}
.review-item__btn-detail:hover {
    text-decoration: none;
}
.main-reviews__btns {
    margin-top: 20px;
    text-align: center;
}
.main-reviews__btn-write {
    display: inline-block;
    border: 2px solid #7f9d07;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    background: #7f9d07;

}
.main-reviews__btn-write:hover {
    background: #CA2C7B;
    border-color: #CA2C7B;
    color: #fff;
    text-decoration: none;
}

.main-reviews__btns {
    margin-top: 20px;
    text-align: start;;
}


@media screen and (max-width: 768px) {
    .main-reviews__btn-write {
        display: block;
        text-align: center;
    }
}















.flex-container{
display: flex;
flex-direction: row;
align-items: center;
}
.footer{
margin-bottom: 20px;
margin-top: 30px;
}

.footer__content ul{
    list-style: none;
    padding-left: 0;
}
.footer__content ul li{
    display: inline-block;
}
.footer__content ul li a{
color: #f7931d;
border-right: 1px solid #f7931d;
padding-left: 10px;
padding-right: 10px;
font: bold 12px/18px Tahoma,Arial,Helvetica,sans-serif;
text-decoration: none;
}
.footer__content ul li:last-child a{
border-right: none;
}
.footer__content ul li:first-child a{
padding-left: 0;
}
.footer__content ul li a:hover{
color: #93af15;
}


@media screen and (max-width: 768px) {
    .price{
        display: none;
    }
    .footer__content{
        border-top: solid 1px #f7931d;
        padding-top: 30px;
    }
    .footer__content ul li {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer__content ul li a{
        border: none;
        font-size: 16px;
    }
}